.list header {
  height: 53px;
  padding-top: 7px;
  line-height: 36px;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.list header .header-title {
  display: inline-block;
  width: 85%;
  margin-right: 5px;
}
.list header .header-title h6 {
  font-weight: 900;
}
.list header .header-title:hover {
  cursor: pointer;
}
.list header .header-toolbar {
  display: inline-block;
  width: 37px;
  text-align: center;
}
.list header .header-toolbar:hover {
  cursor: pointer;
  background-color: #c3c5c7;
  border-radius: 4px;
}
.list-popover {
  width: 135px;
}
.toolbar-item {
  margin: -7px -12px;
  border-radius: 4px;
  padding: 6px;
}
.toolbar-item:hover {
  cursor: pointer;
  background-color: #dadada;
}
.toolbar-item > div {
  display: inline-block;
  font-size: 17px;
  font-display: center;
  margin-bottom: 1px;
}
.toolbar-item > img {
  margin-top: 6px;
  width: 14px;
}
